---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=good-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - '2015-02-01T03:26:06+0000'
      Etag:
      - '"3a1bb8fc6f6f104c229c45109c81b6c04039393f"'
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: '{"id":"10153057521702250","email":"im4ussoccer\u0040yahoo.com","first_name":"Jeff","gender":"male","last_name":"Fisher","link":"https:\/\/www.facebook.com\/app_scoped_user_id\/10153057521702250\/","locale":"en_US","name":"Jeff
        Fisher","timezone":-5,"updated_time":"2015-02-01T03:26:06+0000","verified":true}'
  recorded_at: Thu, 05 Feb 2015 16:32:17 GMT
recorded_with: VCR 2.9.3
